<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ PROJECT_NAME }}</title>

    <meta name="description" content="{{ PROJECT_DESCRIPTION }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://media.npr.org/favicon.ico" />

    <!-- Font loader -->
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
    <script>
        WebFont.load({
             custom: {
                 families: [
                     'Gotham SSm:n4,n7',
                     'Gotham:n4,n7'
                 ],
                 urls: [
                     'http://s.npr.org/templates/css/fonts/GothamSSm.css',
                     'http://s.npr.org/templates/css/fonts/Gotham.css'
                 ]
             },
             timeout: 10000
        });
    </script>
  
    <script>
            var image_url_16_9 = "{{ image_url_16_9 }}";
            var image_url_square = "{{ image_url_square }}";
            </script>
  
    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}


    <!-- JS -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/lib/jquery-1.8.3.js') }}
    {{ JS.push('js/lib/html5.js') }}
    {{ JS.push('js/responsive-ad.js') }}
    {{ JS.push('js/jquery-ui.js') }}
    {% block extra_head_js %}{% endblock extra_head_js %}
    {{ JS.render('js/app-header.min.js') }}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <a class="sr-only" href="#content">Skip To Content</a>

    {% block outer_content %}

    {% block header_content %}
    {% endblock header_content %}

    <section id="content">
        <div class="container">
            {% block wide_content %}
            {% endblock wide_content %}
        </div>
    </section>


    {% endblock outer_content %}
    <script src="js/lib/medium-editor.min.js"></script>
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.push('js/lib/html2canvas.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.render('js/app-footer.min.js') }}



    {% block extra_foot %}
    {% endblock extra_foot %}
</body>
</html>
