{% extends '_base.html' %}


{% block outer_content %}
<header>
    <div class="header-wrapper">
        <h1>Quotable
        <span class="help">
            <a href="https://docs.google.com/document/d/15G5N4an1BtGUVxN-Rh5coJFZxICsiFLLme4D5o1Tf30/edit?usp=sharing">
            <i class="icon-info-sign"></i>
            how to use this
            </a>
        </span>
        </h1>
        <a class="toolkit-link" href="https://cms.nm.cbc.ca/newstools/#">
            <span id="logo"><!--img src="http://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR" /--></span>
            News Tools 
        </a>
    </div>
</header>
<div class="content">
    <div class="poster-wrapper">
        <div class="poster quote poster-news">
            <span class="left-quote">&ldquo;</span>
            <blockquote><p></p></blockquote>

            <p class="source"></p>
            <p class="show-credit"></p>

            <p class="logo-wrapper">
                <img class="logo logo-news" src="./assets/cbcnews.png">
                <img class="logo logo-cbcnn" src="./assets/cbcnews.png">
                <img class="logo logo-cbcradio" src="./assets/cbcnews.png">
                <img class="logo logo-snap-judgement" src="./assets/cbcnews.png">

            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form controls col-md-12">
                <div class="controls-wrapper">
                    <div class="form-group">
                        <label for="fontsize">Font Size</label>
                        <input id="fontsize" name="fontsize" type="range" min="26" max="120" value="70">
                    </div>
                    <div class="form-group">
                        <label>Theme</label>
                        <div id="theme" class="btn-group-vertical">
                            <button id="news" class="btn btn-default btn-primary">News background</button>
                            <button id="cbcnn" class="btn btn-default">CBC News Network </button>
                            <button id="cbcradio" class="btn btn-default">Blank</button>
                            <button id="snap-judgement" class="btn btn-default">Orange</button>
                            <button id="news-polopoly" class="btn btn-default">Polopoly Image</button>
                        
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Aspect ratio</label>
                        <div id="aspect-ratio" class="btn-group">
                            <button id="square" class="btn btn-default btn-primary">Square</button>
                            <button id="sixteen-by-nine" class="btn btn-default">16:9 <small>(Twitter)</small></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Quotation marks</label>
                        <div id="quote" class="btn-group">
                            <button class="btn btn-primary">On</button>
                            <button class="btn btn-default">Off</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="show">Show Attribution <span class="help">(e.g. Morning Edition)</span></label>
                        <input id="show" class="form-control" name="fontsize" type="text">
                    </div>
                         <div class="form-group">
                        <label for="polopoly">Poloypoly Image <span class="help">(e.g. 1.2774930)</span></label> 
                            <form action="" method="post">
                                <input type="text" name="polpoly-image"><button id="submit" class="btn polopoly">Submit</button>
                            </form>

                    </div>
                    <div class="form-group">
                        <button id="save" class="btn btn-lg btn-primary">Save image</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
